.burger {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: #555;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bar {
  display: inline-block;
  position: relative;
  width: 90%;
  height: 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 1px green;
}
.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 1px green;
  transition: all 0.6s linear;
}
.bar::before {
  top: -20px;
}
.bar::after {
  top: 20px;
}
.bar.change {
  background-color: transparent;
  box-shadow: none;
  transition: all 0.6s linear;
}
.bar.change::before {
  background-color: #fff;
  box-shadow: 0 0 5px 1px red;
  transform: translateY(20px) rotate(45deg);
}
.bar.change::after {
  background-color: #fff;
  box-shadow: 0 0 5px 1px red;
  transform: translateY(-20px) rotate(-45deg);
}
